:root {
    --var-main : #F0E4E6;
    --var-footer : #836153;
    --var-second : #292722;
    --var-navbar : rgba(249,244,242,0.5);
    --var-main2 : #FF4422;
}

* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
    height: 2000px;
    background-color:black;
    color: var(--var-main);
    font-family: "Tenor Sans", sans-serif;
}

.container-header {
    background-color: var(--var-navbar);
    width: 90%;
    margin-top: 20px;
    height: 60px;
    border-radius: 40px;
    backdrop-filter: blur(50px);
    position: fixed;
    justify-self: center;
    color: black;
    
}

.container-header .header-flex {
    display: flex;
    justify-content: space-between;
}

.header-flex label,#humberger {
   display: none;
}

.header-brand {
    margin-left: 20px;
    margin-top: -4px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    line-height: 60px;
    text-transform: uppercase;
}

.content-hero {
    background-image: url(/Image/arang.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

.content-hero .hero-main {
    color: var(--var-main);
    margin-left: 20px;
    font-size: 26px;
    width: 80%;
}

.content-hero .hero-main p {
    font-size: 18px;
    line-height: 1.4;
    font-weight: normal;
}

.btn {
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    background-color: var(--var-main);
}

.btn:hover {
    background-color: var(--var-second);
    color: var(--var-main);
}

.content-why .why-main h3 {
    text-align: center;
    color: var(--var-main);
    margin-top: 50px;
}

/* bagian icoon font awesome */

.container-favicon {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    color: var(--var-main);
    gap: 15px;
    flex-wrap: wrap;
}

.icon {
    width: 100px;
    text-align: center;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    padding-top: 20px;
    transition: 1s;
    border-radius: 10px 0px 10px 0px;
}

.icon:hover{
    background-color: var(--var-main2);
}

.icon .judul {
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
}

.sub {
    font-weight: normal;
    font-size: 12px;
}

/* bagian about */

#about {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    background-color: #CEF09D;
    color: black;
    padding-bottom: 50px;
}

#about .tentang h1{
    padding-top: 50px;
    padding-bottom: 50px;
}
#about .tentang p {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    text-indent: 30px;
    font-size: 18px;

}

.img {
    height: 50%;
    width: 300px;
    padding-bottom: 50px;

}

/* bagian product */

#product {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

#product .card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%
}

.card-container {
    text-align: center;
    gap: 20px;
    padding: 20px;
}

.card-container .card {
    padding: 20px;
}

.card:hover {
    background-color: var(--var-footer);
}
#product h1 {
    text-align: center;
}

.gambar-arang {
    height: 200px;
    width: 200px;
}

/* bagian kontak */

#contact {
    padding: 20px;
    margin-top: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1C646D;
    padding-bottom: 50px;
}

#contact .contact-main {
    margin-top: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1C646D;
}

.contact-main .judul-contact {
    margin-top: 10px;
}


/* FOOTER */
.footer-container {
    width: 100%;
    height: 50px;
    margin-top: 50px;
}

.footer {
    text-align: center;
}

/* jika dalam smartphone dan tablet */
@media  screen and (max-width:768px) {
        
    .container-header .header-flex label {
        display: inline-block;
        font-size: 30px;
        padding: 10px;
        padding-top: 5px;
        margin-top: 2px;
}
      /* susunan ulang menu */

    nav ul {
        flex-direction: column;
        width: 200px;
        position: absolute;
        top: 20px;
        left: 40px;
        background-color: var(--var-second);
        backdrop-filter: blur(100px);
        border-radius: 5px 5px 10px;
        gap: 0;
    }

    nav ul li a {
        display: flex;
        padding: 0 30px;
        margin: 0;
        color: var(--var-main);
}

    /* memindahkan header */

    .container-header .header-brand {
        position: absolute;
        display: flex;
        justify-content: end;
        
    }

    .container-header .header-brand h2 {
        margin-left: 40px;
        display: flex;    
    }
    /* menyembuntikan  */
    .container-header nav {
        display: none;
        width: 30%;
    }

    .container-header .header-flex input:checked ~ nav {
        display: flex;
        margin-top: 40px;
        position: absolute;
}
}